@keyframes reveal-cicle {
  from {
    clip-path: circle(50px at 0 0px);
  }
  to {
    clip-path: circle(100%);
  }
}

.reveal-circle {
  clip-path: circle(50px at 0 0px);
  animation-name: reveal-circle;
  animation-fill-mode: forwards;
}


@keyframes reveal {
  from {
    clip-path: polygon(0 0, 100% 0, 100% 1px, 0 1px);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

.reveal {
  clip-path: polygon(0 0, 100% 0, 100% 1px, 0 1px);
  animation-name: reveal;
  animation-fill-mode: forwards;
}
