.article--single{
  color: $light;
  a {
    color: $light;
    &:hover {
      color: $light-gray;
    }
  }
}

.articles {
  margin-top: 150px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}


.emergence-articles {
  min-height: 400px;
  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
      color: $light;
    }
  }
  .overlay {
    align-items: flex-end;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top,$primary, rgba($primary,0.3) 45%,rgba($primary,0.2) );
  }
  .article {
    background-size: cover;
    flex: 1 1 1;
    height: 50%;
  }

  .article-meta {
    align-items: flex-start;
    bottom: 0;
    h3, p {
      max-width: 40em;
    }
    .article-date {
      padding: 1em 1.5em;
      margin: 1em;
      margin-left: 2em;
    }

    .article-content {
      margin: 1em;
    }
  }
}
