

/* ------------------------------------------------------------ *\
    Vendor
\* ------------------------------------------------------------ */

@import './vendor/*.scss';

/* ------------------------------------------------------------ *\
    Settings
\* ------------------------------------------------------------ */

@import '~@styles/shared/_config.scss';
@import '~@styles/shared/_variables.scss';
@import '~@styles/shared/_editor.scss';
@import './_variables.scss';
@import './_sprite.scss';

/* ------------------------------------------------------------ *\
    Theme
\* ------------------------------------------------------------ */

@import '~/bootstrap/scss/bootstrap.scss';
@import './integrate/*.scss';
@import './animations/*.scss';
@import '~@styles/gutenberg-block/index.scss';
@import './_generic*.scss';
@import './_page-title.scss';
@import './_footer.scss';
@import './_navbar.scss';
@import './_articles.scss';
@import './_flex.scss';

.wp-block-coblocks-hero.has-gradient-background .has-background-overlay::before {
  background-image: $primary-gradient;
}
.has-gradient-background {
  background-image: $primary-gradient;
}
